@import "tailwindcss";

@theme {
  --color-base-100: #EFF5D2;
  --color-base-200: #C6D870;
  --color-base-300: #8FA31E;
  --color-base-400: #556B2F;
  
  --font-host-grotesk: var(--font-host-grotesk);
  --font-lk: var(--font-lk);
  --font-drum: var(--font-drum);
}

:root {
  --base-100: #EFF5D2;
  --base-200: #C6D870;
  --base-300: #8FA31E;
  --base-400: #556B2F;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--base-400);
  color: var(--base-100);
  font-family: var(--font-host-grotesk), sans-serif;
}
