@import "tailwindcss";

@theme {
  --color-base-100: #fff;
  --color-base-200: #3a3a3a;
  --color-base-300: #000;
  
  --font-host-grotesk: var(--font-host-grotesk);
  --font-lk: var(--font-lk);
}

:root {
  --base-100: #fff;
  --base-200: #3a3a3a;
  --base-300: #000;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--base-300);
  color: var(--base-100);
  font-family: var(--font-host-grotesk), sans-serif;
}
