/* Home Page Specific Styles */

/* Image defaults for hero */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Typography */
h1 {
  font-family: var(--font-lk), sans-serif;
  line-height: 1;
  overflow: hidden;
}

a, p {
  text-decoration: none;
  color: var(--base-100);
  font-family: var(--font-host-grotesk), sans-serif;
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 1;
}
.main{
  margin-left: 20px;
  padding-bottom: 20px;
}
.nav-logo{
  padding: 20px;
  overflow: hidden;
}
.nav-logo a, .nav-links a {
  font-family: var(--font-space-grotesk), sans-serif;
  overflow: hidden;
  display: inline-block;
}

/* Navigation */
.nav-links {
  display: flex;
  gap: 2rem;
  padding: 20px;
}

.hero-footer{
  padding: 30px;
}

/* Animation Classes */
.word, .char, .digit {
  position: relative;
  will-change: transform;
  display: inline-block;
}

.header h1 .char {
  transform: translateX(100%);
}

.nav-logo a .word, .nav-links a .word, .hero-footer p .word {
  transform: translateY(100%);
}

/* Responsive Adjustments */
@media (max-width: 1000px) {
  .nav-links {
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
  }

  .header {
    bottom: unset;
    top: 50svh;
    display: flex;
    justify-content: center;
    transform: translateY(-50%);
    padding: 0;
  }

  .header .main {
    margin: 0;
    padding: 0;
  }
}
